body {
    margin: 0;
   /* padding: 20px;*/
}
*{
    box-sizing: border-box;
}
/*grey other box*/

.stock-container h3{
    margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
}
/*top box*/
.top-box{
    display: flex;
    justify-content: flex-start;
    width: 1536px;
    height: 153px;
    margin-bottom: 4px;
}

/* header-left and right*/
.header-left{
    background-color: lightsalmon;
    width: 70%;
    margin: 0px 2px 0px 0px; /* t r b l*/
    border: 1px solid grey;
    text-align: center;

}
.header-right{
    margin: 10px;
    width: 30%;
    background-color: lightsalmon;
    margin: 0px 0px 0px 2px; /* t r b l*/
    border: 2px solid grey;
    border-left-color: black;

}



/*BUTTONS*/

.bodinoLogin {
    background-color: yellowgreen; 
    border-color:green;
    color: white; 
    font-size:15px;
    width:130px; 
    height:30px;
    margin-top: 23px;
}

.bodinoClear {
    background-color:green; 
    border-color:green;
    color: white; 
    font-size:15px;
    width:130px; 
    height:30px;
    margin-top: 23px;
}
.bodinoLogout {
    background-color:green; 
    border-color:green;
    color: white; 
    font-size:15px;
    width:130px; 
    height:30px;
    margin-left: 10px;
}

.bodinoRegister {
    background-color:cyan; 
    border-color:green;
    color: white; 
    font-size:15px;
    width:130px; 
    height:30px;
    margin-left: 10px;
}

.bodinoView {
    background-color:tan; 
    color: black; 
    width:95%; 
    height:40px;
    font-family: Georgia;
    border-radius: 9px;
    font-weight: 700;
    font-size: 11px;
    margin-left: 12px;
    border:none;
    margin-top: 4px;
}




/*Middle box*/
.middle-box{
    width: 100%;
    height: 524px;
    background-color: goldenrod;
    margin-bottom: 4px;
}
.middle-box h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
}

.container-flex{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 85%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    align-content: center;
   
}
/*containers*/
.containers{
    height: 460px;
    width: 400px;
    background-color: whitesmoke;
    margin: 10px 6px 6px 6px;
    border-radius: 12px;

}
/*image*/
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid grey;
    overflow: hidden; /* Sinisigurong walang lumalabas sa box */
   

}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* Pinapanatili ang totoong shape ng pet supplies */
    background-color: transparent;
}


.product-stock{
    position:absolute;
    background-color: rgb(4, 4, 16, .58);
    height: 60px;
    width: 400px;
    display: flex;
    justify-content: center;
}

.stock-p{
    color:white;
    font-size: 2rem;
    text-align: center;
}
.bodinoInfoContainer{
    margin-top: 10px;
}

.bodinoLblInline{
    text-align: left;
    margin-left: 12px;

}
.bodinoLblInline, p {
    display: inline-block;
    margin-bottom: 0;
    margin-top:8px;
}




/*Bottom box*/
.bottom-box{
    margin-top: 3px;
    width: 1536px;
    height: 68px;
    border: 1px solid black;
    background-color: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: blue;
    font-family: Tahoma;
    font-size: 35px;
    text-align: center;
}

h2{
    color: green;
    font-size: 25px;
    font-family: Arial, Helvetica;
    text-align: center;
}

p{
    color: blue;
    font-family: Arial, Helvetica;
    font-weight: bolder;
    font-size: 1.1rem;
}

.nothernav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav {
    text-align: center;
    overflow: hidden;
    background-color: goldenrod;
    width: 85%;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
