body {
    margin: 0;
   /* padding: 20px;*/
   background-color: lightgray;
}
*{
    box-sizing: border-box;
}
/*grey other box*/


/*top box*/
.top-box{
    display: flex;
    justify-content: flex-start;
    width: 1536px;
    height: 153px;
    margin-bottom: 4px;
}

/* header-left and right*/
.header-left{
    background-color: lightsalmon;
    width: 70%;
    margin: 0px 2px 0px 0px; /* t r b l*/
    border: 1px solid grey;

}
.header-right{
    margin: 10px;
    width: 30%;
    background-color: lightsalmon;
    margin: 0px 0px 0px 2px; /* t r b l*/
    border: 2px solid grey;
    border-left-color: black;

}



/*BUTTONS*/

.bodinoLogin {
    background-color:yellowgreen; 
    border-color:green;
    color: white; 
    font-size:15px;
    width:130px; 
    height:30px;
    margin-top: 23px;
}

.bodinoLogout {
    background-color:green; 
    border-color:green;
    color: white; 
    font-size:15px;
    width:130px; 
    height:30px;
    margin-left: 10px;
}

.bodinoRegister {
    background-color:cyan; 
    border-color:green;
    color: white; 
    font-size:15px;
    width:130px; 
    height:30px;
    margin-left: 10px;
}

.bodinoView {
    background-color:tan; 
    color: black; 
    width:105px; 
    height:40px;
    font-family: Georgia;
    border-radius: 9px;
    font-weight: 700;
    font-size: 11px;
    margin-left: 12px;
    border:none;
}




/*Middle box*/
.middle-box{
    width: 1536px;
    height: 524px;
    background-color: goldenrod;
    margin-bottom: 4px;
}
.middle-box h1{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
/*containers*/
.containers{
    height: 460px;
    width: 23%;
    background-color: whitesmoke;
    margin: 10px 6px 6px 6px;
    border-radius: 12px;

}
/*image*/
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;/* t r b l*/
    border: 1px solid grey

}

.image-container img {
    width: 90%;
    height: 90%;
    object-fit: fill;
}


.bodinoInfoContainer{
    margin-top: 10px;
}

.bodinoLblInline{
    text-align: left;
    margin-left: 12px;

}
.bodinoLblInline, p {
    display: inline-block;
    margin-bottom: 0;
    margin-top:8px;
}




/*Bottom box*/
.bottom-box{
    margin-top: 3px;
    width: 1536px;
    height: 68px;
    border: 1px solid black;
    background-color: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: blue;
    font-family: Tahoma;
    font-size: 35px;
    text-align: center;
}

h2{
    color: green;
    font-size: 25px;
    font-family: Arial, Helvetica;
    text-align: center;
}

p{
    color: blue;
}